.error_input, .success_input, .error_input:focus, .success_input:focus {
    outline: none !important;
}

.error_input, .error_input:focus {
    border-color: #bc1622 !important;
    box-shadow: 0 0 0 .25rem rgb(188, 22, 34) !important;
}

.success_input, .success_input:focus {
    border-color: #04ad18 !important;
    box-shadow: 0 0 0 .25rem rgb(4, 173, 24) !important;
}

.error_label, .success_label {
    font-size: 12px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.error_label {
    color: #bc1622;
}

.success_label {
    color: #04ad18;
}

.form-control:focus {
    border-color: #4300CB7F;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(67, 0, 203, 0.5);
}
