.img-wrapper {
    position: relative;
    width: 130px;
    height: 130px;
    /*overflow: hidden;*/
    border: 1px solid rgba(91, 91, 91, 0.5);
    margin-bottom: 20px;
}

.btn_close {
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 1;
    padding: 0;
}

.img-thumbnail {
    padding: 0;
    max-width: 100%;
    max-height: 75%;
    display: block;
    margin-bottom: 25px;
}

.file-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(109, 109, 109, 0.5);
    color: black;
    padding: 5px;
    text-align: center;
    overflow: hidden;
}

.file-name {
    margin: 0;
    font-size: 12px;
    color: #000;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    animation: marquee 7s linear infinite; /* Animación para desplazar el texto */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); /* Valor negativo para desplazar hacia la izquierda */
  }
}
